# This file is only a template and should NEVER be used directly.
# It may be overwritten during updates and should not contain real credentials.
#
# Instead, create a copy of this file named as below and fill in your own values there.
#
#    ".env" 
#
# The file is ignored by version control and is safe for secrets.

# [Postgres Database]
POSTGRES_USER = ""
POSTGRES_PASSWORD = ""
POSTGRES_SERVER = ""
POSTGRES_PORT = ""
POSTGRES_DATABASE_NAME = ""